.page.theme_dark {
  --color-decorated-zone: #FF0070;
  --title-coor-text: #000028;
  --text-color: #F1B2CE;
  --background-url: url("../images/cover-image-dark.png");
}

.page.theme_dark .text__rec {
  color: var(--accent-color, #ff0070);
}