.page.theme_light {
  --color-decorated-zone: #ff8dcb;
  --title-coor-text: #353430;
  --background-color: #fff1f7;
  --text-color: #353430;
  --nav-text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --outline-opacity: rgba(50, 59, 102, 0.4);
  --background-url: url("../images/cover-image-light.png");
}

.page.theme_light .text__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-decorated-zone: #ff8dcb;
    --title-coor-text: #353430;
    --background-color: #fff1f7;
    --text-color: #353430;
    --nav-text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --outline-opacity: rgba(50, 59, 102, 0.4);
    --background-url: url("../images/cover-image-light.png");
  }
  .theme_auto .text__rec {
    display: none;
  }
}
