.page {
  font-family: var(--font-family, monospace);
  font-size: var(--font-size, 18px);
  background-color: var(--background-color, #000028);
  background-image: var(--background-url, url(../images/cover-image-dark.png));
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: var(--line-height-normal, 23.4px);
}

.header {
  display: flex;
  font-size: inherit;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  height: 100vh;
  padding: 74px 10px 65px;
}

.main {
  margin-top: 30px;
}

.main section {
  margin-bottom: 50px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border: 1px solid var(--nav-text-color, #ff0070);
  border-bottom: none;
  border-left: none;
}
.decorated-zone::after {
  position: absolute;
  content: "";
  z-index: 1;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border: 1px solid var(--nav-text-color, #ff0070);
  border-top: none;
  border-right: none;
}

.text__rec {
  position: absolute;
  height: 26px;
  right: 39px;
  top: 10px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
}

.text__rec::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -19px;
  z-index: 1;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  -webkit-box-shadow: 0px 0px 4px 0px var(--accent-color, #ff0070);
  -moz-box-shadow: 0px 0px 4px 0px var(--accent-color, #ff0070);
  box-shadow: 0px 0px 4px 0px var(--accent-color, #ff0070);
}

.header__theme-menu {
  display: grid;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  border: none;
}

.header__theme-menu-button {
  line-height: var(--line-height-normal, 23.4px);
  font-size: var(--font-size, 18px);
  min-width: 70px;
  height: fit-content;
  padding: 1.5px 13px;
  text-align: center;
  border: none;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--nav-text-color, #ff0070);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--outline-opacity);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--nav-text-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-text-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-text-color, #ff0070);
}

.title-logo {
  font-size: var(--title-font-size, 116px);
  color: var(--title-color, #db00ff);
  line-height: var(--line-height-title);
  text-shadow: 4px 4px var(--accent-color, #ff0070);
}

.header .title-logo {
  margin-top: 10px;
}

.header__question-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title-decor {
  font-weight: var(--font-title-weight, 700);
  background-color: var(--color-decorated-zone, #ff0070);
  color: var(--title-coor-text, #000028);
}

.header__question {
  display: block;
  height: min-content;
  width: max(355px, 50%);
  font-weight: 700;
}

.main {
  min-width: 100%;
  padding: 10px;
}

.page section:last-child {
  margin-bottom: 30px;
}

.focus__card {
  display: grid;
  grid-template-rows: min-content min-content;
  min-width: 100%;
  gap: 10px;
}

.focus__card-list {
  display: grid;
  gap: 20px;
}

.focus__card-title {
  width: 100%;
  font-size: var(--font-size, 18px);
  line-height: var(--line-height-normal, 23.4px);
}

.main section:nth-child(3) .focus__card {
  row-gap: 20px;
}

.focus__card-description {
  display: grid;
  row-gap: 10px;
}

.focus__question {
  font-weight: 700;
  color: var(--nav-text-color, #ff0070);
  font-size: inherit;
}

.focus__card-text {
  color: var(--text-color, #f1b2ce);
}

.focus__card-text a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.focus__card-text a:hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.focus__card-text a:focus {
  outline: 0;
}

.focus__card-text a:focus-visible {
  outline: 1px solid var(--text-color);
}

.subtitle {
  font-size: var(--font-size, 18px);
}

.footer {
  display: grid;
  min-height: 100vh;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer .title-logo {
  margin-bottom: 0;
}

.galery {
  display: grid;
  gap: 10px;
}

.galery__title {
  font-size: var(--font-size, 18px);
  font-weight: var(--);
}

.galery__card-image-list {
  display: grid;
  gap: 10px;
}

.galery__card-image {
  min-width: 100%;
  height: 100%;
}

.galery__card-image img {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.text-shadow {
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

@media (768px <= width) {
  .main {
    padding: 0;
  }

  .header {
    display: grid;
    z-index: 0;
    padding: 191px 20px 183px;
    align-content: space-between;
  }

  .header__theme-menu {
    margin-bottom: 0;
  }

  .galery {
    gap: 20px;
  }

  .page section {
    padding: 20px;
    margin: 40px 0 0 0;
  }

  .title-logo {
    margin: 10px 0 0 -20px;
  }

  .page section:last-child {
    margin-bottom: 40px;
  }

  .galery .galery-title {
    margin-bottom: 20px;
  }

  .text__rec {
    top: 20px;
    right: 49px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .focus__card-list {
    grid-template-columns: 1fr 2fr;
  }

  .focus__card-description {
    display: grid;
    gap: 10px;
  }

  .focus__card-list:first-child .focus__question {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .focus__card-list:nth-child(3) .focus__question {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .focus__card-list:nth-child(3) .focus__card {
    gap: 20px;
  }

  .focus__card-list:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .focus__card-list:nth-child(2) .focus__question {
    max-width: calc((100% - 40px) / 3);
  }

  .galery {
    margin: 0 0 60px;
  }

  .galery__card-image-list {
    gap: 20px;
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  }

  .galery__card-image:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .galery__card-image:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .galery__card-image:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .galery__card-image:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .galery__card-image:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .footer {
    padding: 20px;
    align-content: center;
  }

  .footer .title-logo {
    margin: 0;
  }
}

@media (1024px <= width) {
  .header {
    padding: 20px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  .header .title-logo {
    margin-top: 0;
  }

  .header__theme-menu {
    margin-top: -1px;
    grid-column-start: 2;
    grid-column-end: 3;
    align-items: start;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .focus__card-list:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
  }

  .focus__card-list:nth-child(2) .focus__question {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .focus__card-list:nth-child(odd) .focus__card {
    margin-left: -6px;
  }

  .title-logo {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
  }

  .header__question-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .header .header__question {
    align-self: center;
  }

  .main section:nth-child(2) .focus__card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .main section:nth-child(2) .focus__question {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
