/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex mono";
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --font-size: 18px;
  --line-height-normal: 23.4px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}